<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lineare Funktionen</title>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
   <div ng-app="app" ng-controller="controller as vm">
     <h1>Lineare Funktionen</h1>
     <h3>f(x) = m·x + b</h3>
     <p>
       m: <input type="number" step="any" ng-model="vm.m">
       b: <input type="number" step="any" ng-model="vm.b">
       <button ng-click="vm.go()">Go!</button>
     </p>
     <table class="data">
        <tr><th>x</th><th>f(x)</th></tr>
        <tr ng-repeat="x in vm.eingabe">
          <td>{{x}}</td>
          <td style="background-color: {{vm.calculateColor(vm.f(x))}}">{{vm.f(x) | number: 2}}</td>
        </tr>
     </table>

     <canvas id="canvas" width="{{vm.canvasWidth}}" height="{{vm.canvasHeight}}"></canvas>
     <table>
       <caption>Debug data:</caption>
       <tr>
         <th>key</th><th>val</th>
       </tr>
       <tr ng-repeat="(key, val) in vm">
         <td>{{key}}</td><td>{{val}}</td>
       </tr>
     </table>
   </div >
  </body>
</html>
