table {
  float: left;
}

table, table td, table th {
  border-collapse: collapse;
  border: 2px solid darkgray;
}

td, th {
  padding: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

canvas {
  border: 2px solid darkgray;
  background-color: white;
  float: left;
  margin: 0 20px;
}
