table {
  float: left;
}

table, table td, table th {
  border-collapse: collapse;
  border: 2px solid darkgray;
}

td, th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

table.data td, table.data th {
  max-width: 50px;
  width: 50px;
  font-size: 15px;
  text-align: right;
  padding: 0 2px;
}
table.data td:first-child, table.data th:first-child {
  width: 30px;
}

table caption {
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}
table caption a {
  cursor: pointer;
}

canvas {
  border: 2px solid darkgray;
  background-color: white;
  float: left;
  margin: 0 20px;
}
